<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.szymon.courier">

    <permission
        android:name="com.truiton.mapfragment.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.truiton.mapfragment.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="@string/app_name" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:label="@string/app_name" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddParcel"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteParcel"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfAwizo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfAll"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ParcelDeliver"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ParcelDeliveryFast"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AllParcelOnMaps"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>